.sign-in-up .left-inner-addon {
    position: relative;
}

.sign-in-up .left-inner-addon input {
    padding-left: 30px;
}

.sign-in-up .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.sign-in-up .right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.sign-in-up .click2select {
    text-align: center;
    margin-top: 1em;
}

.sign-in-up .paywith {
    padding: 12px 12px 0 0;
    margin: 0;
    font-weight: bold;
}

.sign-in-up .row{
    margin-right: 0;
}

.sign-in-up .glyphicon-user:before{
    color:#ffffff;
    font-size: inherit;
}

.sign-in-up .submit-form:hover{
    border: 2px solid #83d5d1;
    background: transparent;
    color: #83d5d1;
}

.sign-in-up .submit-form{
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #F49021;
    outline: none;
    padding: 10px 12px;
    background: #F49021;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    float: left;
    font-size: 0.9em;
}

#new:target{
    display: block;
}

#user:target{
    display: block;
}