html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    /*height: 60px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.left-menu{
    float: left;
    width:20%;
    border-right: 1px dashed lightblue;
    min-height: 400px;
}
.center-block{
    margin-bottom: 60px;
    float: left;
    width: 80%;
    padding: 10px 20px;
}

/*body{*/
    /*background-color: #282828;*/
/*}*/

/*.container{*/
    /*background-color: #fff;*/
/*}*/

/*li{*/
    /*list-style: none;*/
/*}*/

.menubutton{
    margin-top: 50px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #0e5184;
    box-shadow: 0px 4px #0d5c86;
    padding-left: 10px;
    color: #fff;
}

.menubutton:active{
    background-color: #0d5c86;
}

.smallmenuhead{
    margin-top: 50px;
    border-radius: 6px;
    font-size: 20px;
    padding-left: 10px;
    color: #0d5c86;
}

.smalleftmenu{
    margin-left: 110px;
    display: none;
    font-size: 16px;
}

.smallmenuhead:hover .smalleftmenu{
    display: block;
}

.righttable{
    margin-top: 20px;
    border-left: 3px solid black;
    padding-left: 30px;
}


.dropdown-menu{
    width: 100% !important;
}

.top-title-statistic {
    margin-bottom: 10px;
}


.righttablehead{
    font-size: 20px;
}

.righttablehead select{
    width: 180px;
}

.righttablehead input{
    margin-left: 30px;
}


.everydaypopularity{
    display: none;
}

.site-login{
    margin-top: 20px;
}

.verCode{
    border: 1px solid blue;
    height: 60px;
    width: 120px;
}