body{
    background: linear-gradient(180deg, #9090db, #fff) no-repeat #ffffff;
}
.container-body {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: #474747;
    padding-top: 15px;
    background-size: 1px;
}

.header-content {
    margin: 0 auto;
    width: 1070px;
    position: relative;
    z-index: 0;
}

.header-name {
    color: #fff;
    float: left;
    margin-left: 30px;
}

.header-login {
    color: #fff;
    float: right;
    margin-right: 30px;
}

.header-menu {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-color: #d1dce9;
    padding: 0;
    height: 52px;
}

.header-login a {
    color: white;
    text-decoration: none;

}

.header-login a:hover {
    text-decoration: none;
    color: #d1dce9;
}

.menu-divider {
    height: 100%;
    width: 1px;
    background-color: #111;
}

.navbar .container {
    width: 100%;
    padding: 0;
}

.shadow-left, .shadow-right {
    z-index: -1;
    display: inline-block;
    position: relative;

    bottom: 16px;
    height: 10px;
    box-shadow: 0 10px 15px #777;
    background-color: transparent;

}

.shadow-left {
    left: 15px;
    transform: rotate(-3deg);
}

.shadow-right {
    right: 15px;
    transform: rotate(3deg);
}

.index-content {
    margin-bottom: 60px;
    z-index: -3;
    background-image: linear-gradient(#97c1dd, #fff);
}

.content-welcome {
    height: 40px;
    background-color: #e94339;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0px 2px 4px #888;
}

.lenta {
    z-index: 1;
    display: inline-block;
}

.lenta-left-end {
    z-index: -1;
    display: inline-block;
    position: relative;
    top: 20px;
    right: 50px;
    height: 0;
    width: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #e34d33 #222 #e34d33 transparent;
    box-shadow: 0px 2px 0px 0px #888;
}

.lenta-right-end {
    z-index: -1;
    display: inline-block;
    position: relative;
    bottom: 20px;
    right: 20px;
    height: 0;
    width: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #e34d33 transparent #e34d33 #222;
    box-shadow: 0 2px 0px 0px #888;
}

.content-upper {
    z-index: -2;
    position: relative;
    bottom: 105px;
    background-image: linear-gradient(#97c1dd, #fff);
    height: 250px;
}

.welcome-cont {
    padding-top: 160px;
    text-align: center;
    font-size: 18px;
}

.not-index-content {
    margin-top: 0;
    z-index: -2;
    background-image: linear-gradient(#97c1dd, #fff);
}

.content-divider {
    background-color: #464646;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.content-bottom {
    width: 1070px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: 400px;

}

.right-table {
    border-left: 1px dashed #7ca2ce;
}

.row {

    height: 100%;
    position: relative;
}

.main-container {

}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #22272f;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}